@keyframes animatedBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat;
  background-size: cover;
  animation: animatedBackground 10s ease infinite;
}

.task-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 128px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
  font-family: cursive;
}

.task-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.task-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 478px; /* Adjust the width as needed */
  background: transparent;
  color: #fff;
  margin-bottom: 16px;
}

.task-input::placeholder {
  color: #e2e2e2;
}

.datetime-container {
  display: flex;
  justify-content: space-between;
  width: 480px; /* Adjust the width as needed */
  margin-bottom: 16px;
}

.task-button {
  padding: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
  color: #fff;
  text-transform: capitalize;
  width: 400px; /* Adjust the width as needed */
}

.task-button.edit {
  background: linear-gradient(90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100%);
  padding: 16px 22px;
}

.task-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px auto;
  color: #fff;
  background: linear-gradient(90deg, rgba(255, 118, 20, 1) 0%, rgba(255, 84, 17, 1) 100%);
  padding: 6px 14px; /* Adjust the padding values as needed */
  border-radius: 2px;
  width: 90%;
}

.task-row.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

.emoji-decoration {
  position: fixed;
  left: 3.5cm;
  top: 40%;
  transform: translateY(-50%);
  font-size: 1.5cm;
  font-weight: bold;
  color: white;
  text-align: center;
  /* Add any additional styling as needed */
  animation: changeColor 5s infinite;
}

@keyframes changeColor {
  0% {
    --task-row-color-1: rgba(255, 118, 20, 1);
    --task-row-color-2: rgba(255, 84, 17, 1);
  }
  25% {
    --task-row-color-1: rgba(255, 20, 20, 1);
    --task-row-color-2: rgba(255, 17, 17, 1);
  }
  50% {
    --task-row-color-1: rgba(20, 255, 20, 1);
    --task-row-color-2: rgba(17, 255, 17, 1);
  }
  75% {
    --task-row-color-1: rgba(20, 20, 255, 1);
    --task-row-color-2: rgba(17, 17, 255, 1);
  }
  100% {
    --task-row-color-1: rgba(255, 118, 20, 1);
    --task-row-color-2: rgba(255, 84, 17, 1);
  }
}

